</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<!-- Code for Materialize's mobile collapse button -->
<script type="text/javascript">$(".button-collapse").sideNav();</script>
</body>
</html>